.review {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--bg);
}

.card-form {
  width: 63%;
  margin: 1.5rem 0 !important;
  border-radius: 1.5rem !important;
  border: none !important;
  box-shadow: 0 0.438rem 0.625rem rgba(0, 0, 0, 0.3);

  .card-body {
    min-height: 37vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.icon-back {
  margin-right: 60vw;
  margin-top: 1rem;
  font-size: 2.5rem;
  cursor: pointer;

  svg {
    font-size: 2.5rem;
    color: var(--primary);
  }
}

.form-responsive {
  width: 52%;
  margin: 0 0.25rem;
}

.informations {
  width: 53%;
  padding: 0 1.1rem;

  li {
    list-style: none;
    margin: 2.5rem 0;

    h5 {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 1.2rem;
      color: #000;
    }

    p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 1.1rem;
      color: #000;
    }
  }
}

.img-page {
  object-fit: contain;
  width: 47%;
}

.actions-page {
  width: 52%;
}

@media (max-width: 425px) {
  .review {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background-color: var(--bg);
  }

  .img-page {
    display: none;
  }

  .form-responsive {
    width: 100%;
    padding: 0 !important;
    margin: 0 0.25rem !important;
  }

  .actions-page {
    width: 100%;
  }

  .card-form {
    width: 100%;
    border-radius: 3rem 3rem 0 0 !important;
    border: none !important;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);

    .card-body {
      height: 155vw;
      display: flex;
      padding: 2.2rem 0.75rem 0.75rem 0.55rem !important;
      margin: 0 !important;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
