.review {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--bg);
}

.card-finished {
  width: 63%;
  height: inherit !important;
  margin: 1.5rem 0 !important;
  border-radius: 1.5rem !important;
  border: none !important;
  box-shadow: 0 0.438rem 0.625rem rgba(0, 0, 0, 0.3);

  .card-body-finished {
    min-height: 37vw;
    height: inherit !important;
    display: flex;
    padding: 2.5rem 1.5rem;
    flex-direction: column;
    justify-content: space-between;
  }
}

.calendar-div {
  width: 48%;
  margin-right: 2%;
}

.icon-back {
  margin-right: 60vw;
  margin-top: 1rem;
  font-size: 2.5rem;
  cursor: pointer;

  svg {
    font-size: 2.5rem;
    color: var(--primary);
  }
}

.form-responsive {
  width: 52%;
  margin: 0 0.25rem;
}

.img-page {
  object-fit: contain;
  width: 47%;
}

.actions-page {
  width: 52%;
}

@media (max-width: 425px) {
  .review {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background-color: var(--bg);
  }

  .calendar-div {
    width: 100%;
  }

  .img-page {
    display: none;
  }

  .form-responsive {
    width: 100%;
    padding: 0 !important;
    margin: 0 0.25rem !important;
  }

  .actions-page {
    width: 100%;
  }

  .card-finished {
    width: 100%;
    margin-bottom: 0 !important;
    border-radius: 3rem 3rem 0 0 !important;
    border: none !important;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);

    .card-body-finished {
      min-height: 135vw;
      display: flex;
      padding: 2.2rem 0.75rem 0.75rem 0.55rem !important;
      margin: 0 !important;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
