.home {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--bg);
}

.input-group-value {
  .input-group-text:first-child {
    border-radius: 0.5rem 0 0 0.5rem !important;
  }

  .input-group-text {
    border-radius: 0 0.5rem 0.5rem 0 !important;
  }
}

.card-form {
  width: 63%;
  margin: 1.5rem 0 !important;
  border-radius: 1.5rem !important;
  margin-bottom: 0 !important;
  border: none !important;
  box-shadow: 0 0.438rem 0.625rem rgba(0, 0, 0, 0.3);

  .card-body-form {
    min-height: 37vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.icon-back {
  margin-right: 60vw;
  margin-top: 1rem;
  font-size: 2.5rem;
  cursor: pointer;

  svg {
    font-size: 2.5rem;
    color: var(--primary);
  }
}

.card-payment {
  width: 100%;
  border-radius: 0.8rem !important;
  border: none !important;
  box-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-light) !important;
  padding: 0rem 1.5rem;
  margin-top: 1rem !important;

  .card-body-payment {
    min-height: inherit !important;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.types-payment {
  margin: 2rem 0;
}

.form-responsive {
  width: 52%;
  margin: 0 0.25rem;
}

.img-page {
  object-fit: contain;
  width: 47%;
}

.input-form {
  margin-bottom: 0.5rem;
  height: 2.75rem !important;
  border-radius: 0.5rem !important;
  border: solid 0.05rem var(--primary) !important;
}

.input-value {
  margin-bottom: 0.5rem;
  height: 2.75rem !important;
  border-radius: 0 !important;
  border: solid 0.05rem var(--primary) !important;
}

.input-group-value {
  .input-group-text {
    background-color: var(--primary);
    color: #fff;
    font-weight: 700;
    border: solid 0.05rem var(--primary) !important;
  }
}

.actions-page {
  width: 52%;
}

@media (max-width: 425px) {
  .home {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background-color: var(--bg);
  }

  .types-payment {
    margin: 2rem 0;
  }

  .icon-back {
    margin-right: 80vw !important;
    margin-top: 1rem;
    font-size: 2.5rem;
    cursor: pointer;

    svg {
      font-size: 2.5rem;
      color: var(--primary);
    }
  }

  .img-page {
    display: none;
  }

  .form-responsive {
    width: 100%;
    padding: 0 !important;
    margin: 0 0.25rem !important;
  }

  .input-form {
    margin-bottom: 0.5rem;
    height: 3rem !important;
    border-radius: 0.5rem;
  }

  .actions-page {
    width: 100%;
  }

  .card-form {
    width: 100%;
    border-radius: 3rem 3rem 0 0 !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
    min-height: 45rem !important;

    .card-body-form {
      height: inherit !important;
      display: flex;
      padding: 2.2rem 0.75rem 0.75rem 0.55rem !important;
      margin: 0 !important;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .card-payment {
    width: 100%;
    border-radius: 0.8rem !important;
    border: none !important;
    box-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-light) !important;
    padding: 0 1.5rem !important;
    margin: 0 !important;
    margin-top: 1rem !important;
    height: inherit !important;

    .card-body-payment {
      height: inherit !important;
      margin: 0 !important;
      padding: 0 !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
